@{
    ViewBag.Title = "Bulk Insert";
    Layout = ViewBag.Layout;

}

@section Styles {

}

@section Scripts {

}

@section RenderBlockingScripts {

}

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">@ViewBag.Title</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!-- Main Content -->
<div id="page-content">
    <div class="container-fluid">
        
        @if (ViewData["feedback"] != null)
        {
            <p>@Html.Encode(ViewData["Feedback"])</p>
        }

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Instructions
                </h3>
            </div>
            <div class="panel-body">

                <ol>
                    <li>
                        <a href="@Url.Content("~/")" target="_self">Download this document.</a> Do NOT remove the first row in the file.
                    </li>
                    <li>
                        Fill the Excel sheet with your students' data. If there is not a student number, leave the cells blank.
                    </li>
                    <li>
                        Save the modified Excel sheet as a .csv file. Click <a href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba" style="color: orangered">here</a> for additional instructions.
                    </li>
                    <li>
                        Upload the Excel sheet by clicking the button.
                    </li>
                </ol>

                <p>
                    Upon uploading, you should receive a message indicating the status of the upload. If the upload is successful, it will display the details of the upload.
                    If the upload is not successful, please read the instructions carefully and try again. If you are still experiencing issues please fill out a ticket
                    <a href="@Url.Content("~/")" target="_blank" style="color: orangered;">here</a>.
                </p>

            </div>
        </div>

        <!-- Selections Panel -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>

            <!--Horizontal Form-->
            <!--===================================================-->
            @using (Html.BeginForm("BulkInsert", "Teacher", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <section class="form-horizontal">
                    <div class="panel-body">


                        <input type="file" name="fileUpload" accept=".csv"/>


                    </div>
                    <div class="panel-footer">
                        <!-- Submit Button -->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </div>
                </section>
            }
            <!--===================================================-->
            <!--End Horizontal Form-->

        </div>

    </div>
</div>