@model Source.Models.UpdatePasswordModel
@{
    ViewBag.Title = "Edit Student Account";
    Layout = ViewBag.Layout;
}

@section Styles {

}

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">@ViewBag.Title</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!-- Main Content -->
<div id="page-content">

    <div class="container-fluid">
        <div class="row">

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <a href="@Url.Action("ParentStudentAccounts", "Teacher")">
                            <button class="demo-panel-ref-btn btn btn-default">
                                <i class="fa fa-arrow-left"></i> Back
                            </button>
                        </a>
                    </div>
                    <h3 class="panel-title">Update a Student Account</h3>
                </div>

                <!--Horizontal Form-->
                <!--===================================================-->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <section class="form-horizontal">
                        <div class="panel-body">

                            <!-- Student Username Field -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, "Username", new { @class = "col-sm-3 control-label", @for = "studentUsername" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id="studentUsername", @name= "studentUsername", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Student New Password Field -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, "New Password", new { @class = "col-sm-3 control-label", @for = "studentNewPassword" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @id = "studentNewPassword", @name = "studentNewPassword", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Student New Password (Again) Field -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPasswordAgain, "New Password (again)", new { @class = "col-sm-3 control-label", @for = "studentNewPasswordAgain" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.NewPasswordAgain, new { @class = "form-control", @id = "studentNewPasswordAgain", @name = "studentNewPasswordAgain", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.NewPasswordAgain, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <!-- Submit Button -->
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-default">Update Student</button>
                            </div>
                        </div>
                    </section>
                }
                <!--===================================================-->
                <!--End Horizontal Form-->

            </div>

        </div>
    </div>

</div>