@model Source.Models.UploadGroupMediaViewModel
@{
    ViewBag.Title = "Upload Media";
    Layout = ViewBag.Layout;
}

<div id="page-title">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("UploadGroupMedia", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => Model.projectId)
    @Html.HiddenFor(m => Model.groupId)
    <div id="page-content">
        <div class="container-fluid">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <label class="col-sm-3 control-label">Media Title: </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Select The Media</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        <p class="text-main text-bold mar-no">Please select the file that you would like to upload.</p>
                        <p>We currently accept <strong>.PDF, .DOC, .DOCX, .JPEG, .JPG, and .PNG</strong> file types for papers. The maximum size for papers is 5MB.</p>
                        <p>We also accept <strong>.MP4, .MPEG, and .MOV</strong> file types for video assignments. The maximum size for videos is 500MB.</p>

                        <div id="demo-dropzone" action="#" class="dropzone">
                            <div class="dz-default dz-message">
                            </div>
                            <div class="fallback">
                                <input name="file" type="file" accept="application/pdf, .doc, .docx, .jpg, .png, .mp4, .mpeg, .mov">
                            </div>
                        </div>
                        @if (TempData["notice"] != null)
                        {
                            var mess = TempData["notice"].ToString();
                            <p style="color:red">@mess</p>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <!-- Submit Button -->
                    <div class="form-group text-center">
                        <button type="submit" name="submit" class="btn btn-default">Upload Media </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}




