<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Universal Writing Continuum - @ViewBag.Title</title>

    @*<!-- Regular Meta Info - used by search engines and browsers -->
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <link rel="author" href="https://plus.google.com/{{googlePlusId}}" />
    <link rel="canonical" href="{{pageUrl}}" />

    <!-- Facebook Meta Info - used by Facebook when someone shares your url -->
    <meta property="og:url" content="{{pageUrl}}">
    <meta property="og:image" content="{{imageUrl}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:title" content="{{pageTitle}}">
    <meta property="og:site_name" content="{{siteTitle}}">
    <meta property="og:see_also" content="{{homepageUrl}}">

    <!-- Google+ Meta Info - used by Google+ when someone shares your url -->
    <meta itemprop="name" content="{{pageTitle}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{imageUrl}}">

    <!-- Twitter Meta Info - used by Twitter when someone shares your url -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{pageUrl}}">
    <meta name="twitter:title" content="{{pageTitle}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{imageUrl}}">*@

    <!-- jQuery -->
    <script src="@Url.Content("~/Bundles/jQuery/js/jquery-2.2.4.min.js")"></script>

    <!-- Boostrap CSS -->
    <link href="@Url.Content("~/Bundles/Bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Nifty CSS -->
    <link href="@Url.Content("~/Bundles/Nifty/v2.5/css/nifty.min.css")" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Styles/Teacher/main.min.css")" rel="stylesheet">

    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)

</head>
<body>

    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!-- NAVBAR -->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!-- Branding Area -->
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-brand">
                        <div class="brand-title">
                            <span class="brand-text">Hello, @Source.Models.SessionModel.GetUserName(HttpContext.Current.Request.RequestContext)!</span>
                        </div>
                    </a>

                </div>
                <!-- ./Branding Area -->
                <!-- Navbar Link Items -->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">

                        <!-- Mobile Navigation Toggle Button -->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                        <!-- ./Mobile Navigation Toggle Button -->

                        <li>
                            <a href="@Url.Action("Index", "Home")" target="_blank">
                                <img src="@Url.Content("~/Images/logo.png")" alt="" class="navbar-logo" />
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-top-links pull-right">

                        <!-- User Dropdown Item -->
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <i class="demo-pli-male ic-user"></i>
                                </span>
                                <div class="username hidden-xs">@Source.Models.SessionModel.GetUserName(HttpContext.Current.Request.RequestContext)</div>
                            </a>


                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">

                                <!-- User Dropdown Item Menu -->
                                @*<ul class="head-list">
                                    <li>
                                        <a href="@Url.Action("Profile", "Teacher")">
                                            <i class="fa fa-user icon-lg icon-fw"></i> Your Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Inbox", "Teacher")">
                                            <span class="badge badge-danger pull-right">9</span>
                                            <i class="fa fa-envelope icon-lg icon-fw"></i> Your Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="badge badge-danger pull-right">9</span>
                                            <i class="fa fa-exclamation-circle icon-lg icon-fw"></i> Your Notifications
                                        </a>
                                    </li>
                                </ul>*@
                                <!-- ./User Dropdown Item Menu -->
                                <!-- User Dropdown Item Footer -->
                                <div class="pad-all">
                                    @*<div class="text-left pull-left">
                                        <a href="@Url.Action("Settings", "Teacher")" class="btn btn-default">
                                            <i class="fa fa-gear"></i> Settings
                                        </a>
                                    </div>*@
                                    <div class="text-right">
                                        <a href="@Url.Action("Logout", "Authentication")" class="btn btn-primary">
                                            <i class="fa fa-sign-out"></i> Logout
                                        </a>
                                    </div>
                                </div>
                                <!-- ./User Dropdown Item Footer -->

                            </div>
                        </li>
                        <!-- ./User Dropdown Item -->

                    </ul>
                </div>
                <!-- ./Navbar Link Items -->

            </div>
        </header>
        <!-- ./NAVBAR -->

        <div class="boxed">

            <!-- Main Content -->
            <div id="content-container">

                @RenderBody()

            </div>
            <!-- ./Main Content -->
            <!-- Navigation Menu -->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!-- Menu -->
                    <div id="mainnav-menu-wrap">
                        <div class="nano has-scrollbar">
                            <div class="nano-content" tabindex="0" style="right: -17px;">

                                <!-- Shortcut Buttons -->
                                @*<div id="mainnav-shortcut">
                                    <ul class="list-unstyled">
                                        <li class="col-xs-3" data-content="My Profile" data-original-title="" title="">
                                            <a class="shortcut-grid" href="@Url.Action("Profile", "Teacher")">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="My Messages" data-original-title="" title="">
                                            <a class="shortcut-grid" href="@Url.Action("Inbox", "Teacher")">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="My Settings" data-original-title="" title="">
                                            <a class="shortcut-grid" href="@Url.Action("Settings", "Teacher")">
                                                <i class="fa fa-gear"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>*@
                                <!-- ./Shortcut Buttons -->

                                <ul id="mainnav-menu" class="list-group">

                                    <!-- Navigation Category Header -->
                                    <li class="list-header">Navigation</li>
                                    <!-- ./Navigation Category Header -->
                                    <!-- Navigation Category Content -->
                                    <li>

                                        <!-- Dashboard Subcategory Header -->
                                        <a href="@Url.Action("Dashboard", "Parent")">
                                            <i class="fa fa-home"></i>
                                            <span class="menu-title">
                                                <strong>Dashboard</strong>
                                            </span>
                                        </a>
                                        <!-- ./Dashboard Subcategory Header -->

                                    </li>
                                    <!-- ./Navigation Category Content -->
                                    <!-- Portfolio Category Header -->
                                    <li class="list-header">Portfolio</li>
                                    <!-- ./Portfolio Category Header -->
                                    <!-- Portfolio Subcategory Content -->
                                    <li>

                                        <!-- Dashboard Subcategory Header-->
                                        <a href="@Url.Action("ParentPortfolio", "Parent")">
                                            <i class="fa fa-circle" style="color:#ebae26"></i>
                                            <span class="menu-title">My Student's Portfolio</span>
                                        </a>
                                        <!-- ./Dashboard Subcategory Header -->

                                    </li>
                                    <!-- Reports Subcategory Content -->
                                    <li>

                                        <!-- Reports Subcategory Header -->
                                        <a href="@Url.Action("Goals", "Parent")">
                                            <i class="fa fa-circle" style="color:#1e5f8b"></i>
                                            <span class="menu-title">Goals</span>
                                        </a>
                                    <!-- Resources Subcategory Content -->
                                    <li>

                                        <!-- Resources Subcategory Header -->
                                        <a href="#">
                                            <i class="fa fa-circle" style="color:#12723a"></i>
                                            <span class="menu-title">Resources</span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!-- ./Resources Subcategory Header -->
                                        <!-- Resources Subcategory Dropdown Items -->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a href="#" onclick="LeavingOurSite();">Help Your Child</a></li>
                                            <li><a href="@Url.Action("Leveling Chart.Month by Month Expectation of Proficiency for Each Grade Level.pdf","Content/SchoolAdmin")" target="_blank">Levels Explained</a></li>
                                        </ul>
                                        <!-- ./Rescources Subcategory Dropdown Items -->

                                    </li>
                                    <!-- ./Resources Subcategory Content -->
                                    <!-- Resources Subcategory Content -->
                                    <li>

                                        <!-- Resources Subcategory Header -->
                                        <a href="#">
                                            <i class="fa fa-circle" style="color:#6ca9b0"></i>
                                            <span class="menu-title">Help Center</span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!-- ./Resources Subcategory Header -->
                                        <!-- Resources Subcategory Dropdown Items -->
                                        <ul class="collapse" aria-expanded="false">
                                            <li><a href="javascript:void(0);" onclick="alert('Feature coming soon!');">FAQ</a></li>
                                            @*<li><a href="@Url.Action("FAQ", "Parent")">FAQ</a></li>*@
                                        </ul>
                                        <!-- ./resources Subcategory Dropdown Items -->

                                    </li>
                                    <!-- ./Resources Subcategory Content -->

                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- ./Menu -->

                </div>
            </nav>
            <!-- ./Navigation Menu -->

        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="pad-lft">
                Copyright © 2011-
                <!-- Current Year for copywrite-->
                <script> var d = new Date(); document.write(d.getFullYear());</script>
                Uni-Spire
            </p>
        </footer>
        <!-- ./Footer -->

    </div>

    <!-- Bootstrap JS -->
    <script src="@Url.Content("~/Bundles/Bootstrap/js/bootstrap.min.js")"></script>

    <!-- Nifty JS -->
    <script src="@Url.Content("~/Bundles/Nifty/v2.5/js/nifty.min.js")"></script>
    <!--Leave our site-->
<script>
    function LeavingOurSite() {
        if (confirm("You are now leaving The Writing Continuum.")) {
            window.open("http://www2.ncte.org/statement/howtohelpenglish/", '_blank');
        }
    }
</script>

    @RenderSection("RenderBlockingScripts", false)

</body>
</html>
