@model Source.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">LOGIN</h1>
        <h1 class="page-title" , align="center">The Universal Writing Continuum</h1>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        @if (!(bool)ViewBag.EmailSent)
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    @using (Html.BeginForm("ForgotPassword", "Authentication", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <!--Horizontal Form-->
                        <!--===================================================-->
                        <section class="form-horizontal">
                            <section class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Forgot Password</h3>
                                </div><div class="panel-body">

                                    <!-- Email Field -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, "Email", new { @class = "col-sm-4 control-label", @for = "email" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                        
                                        <div style="padding-top:5px;" class="col-sm-12 col-sm-offset-6">
                                            <button type="submit" class="btn btn-default">Enter</button>
                                        </div>                                        
                                    </div>
                                </div>
                            </section>
                        </section>
                        <!--===================================================-->
                        <!--End Horizontal Form-->
                    }

                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <section class="form-horizontal">
                        <div class="panel-heading">
                            <h3 class="panel-title">Email Sent</h3>
                        </div>
                        <div class="panel-body">
                            <p>An email has been sent to: @Model.Email</p>
                        </div>
                    </section>
                </div>
            </div>
        }
    </div>
</div>


