@model Source.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">LOGIN</h1>
        <h1 class="page-title" , align="center">The Universal Writing Continuum</h1>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        @if (ViewBag.IsActive != null && (bool)ViewBag.IsActive == true)
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    @using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <!--Horizontal Form-->
                        <!--===================================================-->
                        <section class="form-horizontal">
                            <section class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Reset Password</h3>
                                </div><div class="panel-body">

                                    <!-- Email Field -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, "Email", new { @class = "col-sm-4 control-label", @for = "email" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>
                                    <!-- New Password -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, "New Password", new { @class = "col-sm-4 control-label", @for = "email" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>
                                    <!-- Confirm password -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", new { @class = "col-sm-4 control-label", @for = "email" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        </div>
                                        <div style="padding-top:5px;" class="col-sm-12 col-sm-offset-6">
                                            <button type="submit" class="btn btn-default">Reset</button>
                                        </div>
                                    </div>                                    
                                </div>
                            </section>
                        </section>
                        <!--===================================================-->
                        <!--End Horizontal Form-->
                    }

                </div>
            </div>
        }
        else if(ViewBag.IsActive != null && (bool)ViewBag.IsActive == false)
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <section class="form-horizontal">
                        <div class="panel-heading">
                            <h3 class="panel-title">Expired Code</h3>
                        </div>
                        <div class="panel-body">
                            <p>Verification code expired.</p>
                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="form-horizontal">
                <div class="panel-heading">
                    <h3 class="panel-title">Success</h3>
                </div>
            </section>
        </div>
    </div>
        }
    </div>
</div>
@if (ViewBag.IsPasswordReset != null && (bool)ViewBag.IsPasswordReset == true)
{
<script>

    $(document).ready(function(){
        alert('Password successfully reset! Please Click Ok.');
        window.location = "@Url.Action("Login")";
    });

</script>
}

