@model Source.Models.ViewClassDataViewModel
@{
    ViewBag.Title = "Class Data";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}

<!-- Page Title -->
<div id="page-title">
    <div class="p-3 mb-2 bg-warning"></div>
    <h1 class="ml-1 ml-md-3">@ViewBag.Title</h1>
</div>
<!-- Main Content -->
<div id="page-content">
    <div class="container">
        <!-- Controls -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <!--Horizontal Form-->
            <!--===================================================-->

            
                <div class="card-body">
                    <!-- Academic Year Field -->
                    @Html.Partial("_EvaluationPeriodCourseSelection")
                </div>
            

            <!--===================================================-->
            <!--End Horizontal Form-->
        </div>
        <div class="d-flex justify-content-center">
            <div id="loader" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="content" style="display: none;">
            @foreach (var evaluation in Model.EvaluationType)
            {
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h4 class="card-title">@evaluation.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="list-group">
                                @foreach (var proficiency in Model.ProficiencyType)
                                {
                                    <div style="padding-bottom: 15px; padding-top: 15px; margin-left: 5px;">
                                        <h6 style="color: @proficiency.ProficiencyColor;">@proficiency.Proficiency</h6>
                                        <div id="student_@evaluation.ID@proficiency.ID">
                                            <p id="notAvail_@evaluation.ID@proficiency.ID">&nbsp; N/A</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Teacher/ClassData.js"></script>
}