@model Source.Models.ContinuumEditViewModel
@{
    ViewBag.Title = "Edit Continuum";
    Layout = "~/Views/Shared/_WebAdminLayout.cshtml";
}

@section Styles {

}

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">Update Continuum</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!-- Main Content -->
<div id="page-content">

    <div class="container-fluid">


            <div class="card">
                <div class="card-header">
                    <div class="carousel-control">
                        <a href="@Url.Action("ContinuumInsert", "WebAdmin")" class="demo-panel-ref-btn btn btn-default">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                    </div>
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>

                <!--Horizontal Form-->
                <!--===================================================-->
                @using (Html.BeginForm("EditContinuum", "WebAdmin", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Continuum.ContinuumID)

                    <section class="form-horizontal">
                        <div class="card-body">

                            <!--PaperTypeID PAPER TYPE Field -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.PaperTypes, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">

                                    @Html.DropDownListFor(model => Model.Continuum.PaperTypeID, Model.PaperTypes, new { @class = "form-control" })

                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label class="col-sm-3 control-label" for="paperTypeID">Paper Type: </label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.PaperTypeID, new { @class = "form-control", @id = "paperTypeID", @name = "paperTypeID" })
                                    </div>
                                </div>*@

                            <!--EvaluationTypeID ELEMENTS Field -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.EvaluationTypes, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">

                                    @Html.DropDownListFor(model => model.Continuum.EvaluationTypeID, Model.EvaluationTypes, new { @class = "form-control" })

                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label class="col-sm-3 control-label" for="evaluationTypeID">Middle Name: </label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.EvaluationTypeID, new { @class = "form-control", @id = "evaluationTypeID", @name = "evaluationTypeID" })
                                    </div>
                                </div>*@

                            <!--LevelID LEVEL Field -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.Levels, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">

                                    @Html.DropDownListFor(model => model.Continuum.LevelID, Model.Levels, new { @class = "form-control" })

                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label class="col-sm-3 control-label" for="levelID">Level ID: </label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.LevelID, new { @class = "form-control", @id = "levelID", @name = "levelID" })
                                    </div>
                                </div>*@

                            <!--Guidelines GUIDELINES Field -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="guidelines">Guideline: </label>
                                <div class="col-sm-6">

                                    @Html.TextAreaFor(model => model.Continuum.Guidelines, new { @class = "form-control", @id = "guidelines", @name = "guidelines" })

                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <!-- Submit Button -->
                            <div class="form-group text-center">
                                @*
                                    @if (string.isnullorempty(model.email))
                                    {
                                        <p class="text-center">
                                            student must have an email to update the account's password.
                                        </p>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-default">add email</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="@url.action("updatestudentpassword", new { e = convert.tobase64string(system.text.encoding.utf8.getbytes(model.email)) })">
                                            <button type="button" class="btn btn-default">update student</button>
                                        </a>
                                    }*@
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </section>
                }
                <!--===================================================-->
                <!--End Horizontal Form-->

            </div>

        </div>
    </div>

