@model Source.Models.EngagementSubtypeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubtypeInsert</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SubtypeInsert", "WebAdmin", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ModuleID);
            <br />
            @Html.DropDownListFor(model => model.typeID, Model.TypesDDL);
            <span>New Type?</span>
            @Html.TextBoxFor(model => model.NewType);
            <br />
            @Html.TextAreaFor(model => model.contents);
            <br />
            @Html.CheckBoxListFor(model => model.GradeIndecies,
                                    model => model.AllGrades,
                                    x => x.GradeID,
                                    x => x.GradeDescription,
                                    x => Model.SelectedGrades)
            <button type="submit">Submit</button>
        }
    </div>
</body>
</html>
